* {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(94, 95, 95) !important;
}

.barraNaranja {
    width: 100% !important;
    background-color: #F58634 !important;
}

.layoutNaranja {
    width: 1000px !important;
    height: 50px !important;
    margin: 0px auto !important;
    padding-top: 15px !important;
}

.layoutNaranja a {
    text-decoration: none !important;
    color: #002C55 !important;
    float: left !important;
}

.redes-sociales {
    float: right !important;
}

.redes-sociales a {
    padding-left: 30px !important;
}

.formulario {
    text-align: center !important;
}

.formulario::after {
    content: "";
    background: url(img/departamento.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #002C55;
    height: 633px;
}

.formulario p {
    text-align: center !important;
    padding-top: 30px !important;
    color: white !important;
    font-size: 45px !important;
}

.registro {
    padding-top: 80px !important;
    color: white !important;
    float: left !important;
    margin-left: 150px !important;
}

.inicio {
    margin-left: 40px !important;
}