

body {
    font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif !important;
    background-color: rgb(94, 95, 95) !important;
}

.formulario {
    text-align: center !important;
}

.formulario::after {
    content: "";
    background: url(img/departamento.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #002C55;
    height: 100%;
}

.formulario p {
    text-align: center !important;
    padding-top: 15px !important;
    color: white !important;
    font-size: 40px !important;
}
.formulario h4 {
    text-align: center !important;
    padding-top: 15px !important;
    color: white !important;
    font-size: 40px !important;
}
.formulario h5 {
    text-align: center !important;
    padding-top: 1567777777777777777777878888877878px !important;
    color: white !important;
    font-size: 25px !important;
}
.registro {
    padding-top: 80px !important;
    color: white !important;
    float: left !important;
    margin-left: 150px !important;
}

.inicio {
    margin-left: 40px !important;
}